version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

# backend service

  backend:
    image: aashishsharma5555/backend:latest
    container_name: backend_container
    restart: always
    ports:
      - "8080:8080"

    environment:

      NODE_ENV: production
      MONGO_URI: mongodb.//mongodb:27017/crud-db

    depends_on:
      - mongodb

#frontend

  frontend:
    image: aashishsharma5555/frontend:latest
    container_name: frontend_container
    restart: always
    depends_on:
      - backend

# Nginx reverse

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist:/usr/share/nginx/html
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
